spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: url
    username: username
    password: password

  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate.format_sql: true
      default_batch_fetch_size: 100
  servlet:
      multipart:
        location: "D:\\"

flyway:
  enabled: true
  baseline-on-migrate: true
  url: url
  user: user
  password: password

server:
  port: 8080

jwt:
  key:
  refresh:
  access:

image:
  review.path:

---
spring:
  config:
    activate:
      on-profile: test
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb;MODE=MySQL
    username: sa
    password:
  flyway:
    enabled: false
