<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    const accessToken = [[${accessToken}]];
    const refreshToken = [[${refreshToken}]];

    const webURL = [[${@authLinkUtil.getWebUrl(accessToken, refreshToken)}]];
    const androidURL = [[${@authLinkUtil.getAndroidUrl(accessToken, refreshToken)}]];
    const iosURL = [[${@authLinkUtil.getIosUrl(accessToken, refreshToken)}]];
    const googleStoreURL = [[${@authLinkUtil.getGoogleStoreUrl()}]];
    const appleStoreURL = [[${@authLinkUtil.getAppleStoreUrl()}]];

    const os = () => {
        if (!(/iphone|ipad|ipod|android/i.test(navigator.userAgent))) {
            return "pc"
        }

        const userAgent = navigator.userAgent.toLowerCase();
        if (userAgent.search("android") > -1) {
            return "android"
        } else if ((userAgent.search("iphone") > -1)
            || (userAgent.search("ipod") > -1)
            || (userAgent.search("ipad") > -1)) {
            return "ios"
        } else {
            return "other"
        }
    }

    const redirectApp = () => {
        redirectDeepLink();
        checkInstall(os())
        return "running OK"
    }

    const redirectDeepLink = (os) => {
        if (os === "android") {
            return androidURL;
        } else if (os === "ios") {
            return iosURL;
        } else {
            return webURL;
        }
    }

    const checkInstall = (os) => {
        const clearTimers = () => {
            clearInterval(checkInterval);
            clearTimeout(timer)
        }

        const checkHideWeb = () => {
            if (document.webkitHidden || document.hidden) {
                clearTimers()
            }
        }

        //앱 설치가 안되어 있으면 아무 작동을 안함 => 타이머로 스토어 이동
        const checkInterval = setInterval(checkHideWeb, 200);
        const timer = setTimeout(() => {
            location.href = redirectStore();
            clearInterval(checkInterval)
        }, 2000);

        const redirectStore = () => {
            if (os === "android") {
                return googleStoreURL;
            } else if (os === "ios") {
                return appleStoreURL;
            }
            else {
                return webURL;
            }
        }
    }

    redirectApp();

    /*]]>*/
</script>
</body>
</html>